#blur.active{
    filter: blur(10px);
    pointer-events: none;
    user-select: none;
}
#popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 50px;
    box-shadow: 0 5px 30px rgba(0,0,0,.30);
    background-color: #fff;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}
#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.margin-smalldevices{
    padding-left: 100px !important;
}

@media screen and (min-width:300px) and (max-width:576px){
    .mobile-image{
        /* height: 220px; */
        /* width: 100px; */
        /* position: absolute !important;
        left:10px !important; */
    } 
    .margin-smalldevices{
        padding-left: 25px !important;
    }
    #popup{
        position: fixed;
        top: 50%;
        left: 53%;
        transform: translate(-50%,-50%);
        width: 390px;
        padding: 50px;
        box-shadow: 0 5px 30px rgba(0,0,0,.30);
        background-color: #fff;
        border-radius: 15px;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
    }
}
.mobile-image{
    height: 320px;
    width: 300px;
}

.color2{
    color: white !important;

}